In [1]:
palabra = "Recuperación$"
cadena = list(palabra.lower())
sufijos = {}
print(cadena)
for i in range(len(cadena)):
    temp ="".join(cadena[i:len(cadena)])
    sufijos[temp]= i+1
print("El texto contiene los siguientes sufijos:")
for sufijo in sufijos.items():
    print(sufijo)
print("Sufijos ordenados:")
ordenados = sorted(sufijos.items())
sufijosO = dict(ordenados)
for orden in ordenados:
    print(orden)
print(type(ordenados))

['r', 'e', 'c', 'u', 'p', 'e', 'r', 'a', 'c', 'i', 'ó', 'n', '$']
El texto contiene los siguientes sufijos:
('recuperación$', 1)
('ecuperación$', 2)
('cuperación$', 3)
('uperación$', 4)
('peración$', 5)
('eración$', 6)
('ración$', 7)
('ación$', 8)
('ción$', 9)
('ión$', 10)
('ón$', 11)
('n$', 12)
('$', 13)
Sufijos ordenados:
('$', 13)
('ación$', 8)
('ción$', 9)
('cuperación$', 3)
('ecuperación$', 2)
('eración$', 6)
('ión$', 10)
('n$', 12)
('peración$', 5)
('ración$', 7)
('recuperación$', 1)
('uperación$', 4)
('ón$', 11)
<class 'list'>

In [9]:
import pandas as pd
df = pd.DataFrame([[key, sufijos[key]] for key in sufijos.keys()], columns=['Suffix', 'i'])
df

           Suffix   i
0   recuperación$   1
1    ecuperación$   2
2     cuperación$   3
3      uperación$   4
4       peración$   5
5        eración$   6
6         ración$   7
7          ación$   8
8           ción$   9
9            ión$  10
10            ón$  11
11             n$  12
12              $  13

In [3]:
import pandas as pd
df = pd.DataFrame([[key, sufijosO[key]] for key in sufijosO.keys()], columns=['Suffix', 'i'])
df

           Suffix   i
0               $  13
1          ación$   8
2           ción$   9
3     cuperación$   3
4    ecuperación$   2
5        eración$   6
6            ión$  10
7              n$  12
8       peración$   5
9         ración$   7
10  recuperación$   1
11     uperación$   4
12            ón$  11

In [8]:
valores = sufijosO.values()
df = pd.DataFrame(valores)
TFIDF1 = df.transpose() 
pd.DataFrame(TFIDF1)

   0   1   2   3   4   5   6   7   8   9   10  11  12
0  13   8   9   3   2   6  10  12   5   7   1   4  11